EXPO_PUBLIC_API_BASE=https://arbebus-backed.onrender.com

EXPO_PUBLIC_SUPABASE_URL=https://ysrglkpdjhewrzgzeveh.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_BcUl7xr71v7cqS826WJEGg_STQeVWgq

EXPO_PUBLIC_ORS_KEY=5b3ce3597851110001cf6248e9c0d9a2cfdcbbd0bfae7f8a4bde9

EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=537585546831-kjhbbq0eo56sp79dk05j0ltakp17q9vb.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=537585546831-9h8l7v1m0n5s2g4j6u9q3t1v8o5c7a0.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_EXPO_CLIENT_ID=537585546831-9h8l7v1m0n5s2g4j6u9q3t1v8o5c7a0.apps.googleusercontent.com   
