.env
*.env
!*.env.example
infrastructure/.env
mobile/.env
backend/.env
node_modules
.expo/
mobile/.expo/
node_modules/
mobile/node_modules/
backend/node_modules/
infrastructure/otp/otp.jar
infrastructure/otp/graph/*.pbf
infrastructure/otp/graph/*.zip
infrastructure/meili/data.ms
infrastructure/otp/otp.jar
infrastructure/meili/meilisearch.exe
infrastructure/otp/graph/*.pbf
infrastructure/meili/
infrastructure/otp/backend/data/import/
/backend/data/import/
