NODE_ENV=production
PORT=10000
DATABASE_URL=
STOPS_LT_GPS_URL=https://www.stops.lt/klaipeda/gps_full.txt
ORS_API_KEY==
GOOGLE_PLACES_API_KEY=
SEARCH_EXTERNAL_ENABLED=true
SEARCH_PROVIDER_GOOGLE_ENABLED=true
SEARCH_PROVIDER_OSM_ENABLED=true
SEARCH_PROVIDER_OVERPASS_ENABLED=true
SEARCH_PROVIDER_LOCAL_POI_ENABLED=true
SEARCH_PROVIDER_TRANSIT_ENABLED=true
SEARCH_INDEX_REBUILD_INTERVAL_MS=3600000
TRANSIT_INCLUDE_WALKING_GEOMETRY=true
LIVE_BUSES_CACHE_MS=7000
`