body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#map {
  height: 100vh;
}

.header {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  background: rgba(10,20,50,0.9);
  color: white;
  padding: 15px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  z-index: 1000;
}

.info {
  position: absolute;
  bottom: 20px;
  left: 15px;
  right: 15px;
  background: #0b1a3a;
  color: white;
  padding: 20px;
  border-radius: 20px;
}

.hidden {
  display: none;
}